<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/stylesheets/style_profile.css">
</head>
<body>
    <header>
        <h1>Profil Mahasiswa</h1>
    </header>
    <div class="container">
        <div class="profile">
            <img src="" alt="Profil Saya">
            <h2><%=user%></h2>
            <p>Deskripsi singkat tentang saya.</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Profil Saya. Hak cipta dilindungi undang-undang.</p>
    </footer>
</body>
</html>
