<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surat Pengantar</title>
    <link rel="stylesheet" href="stylesheet/si">
</head>
<body>
    <%- include('partials/navbarSekjur') %>
    <h1>Surat Pengantar Sekjur</h1>
    <p>Ini adalah halaman surat pengantar sekjur.</p>

    <!-- Letakkan tag <script> di sini untuk memastikan JavaScript berfungsi -->
    <script src="./node_modules/preline/dist/preline.js"></script>
    <script> src="./public/javascripts/navbar.js" </script>
</body>
</html>
